.present
  .cap
  .vribbon
  .hribbon

.present1
  .cap 
  .vribbon 
  .hribbon 
.present2
  .cap 
  .vribbon 
  .hribbon 
.present3
  .cap 
  .vribbon 
  .hribbon 
.present4
  .cap 
  .vribbon 
  .hribbon 
.present5
  .cap 
  .vribbon 
  .hribbon 
.present6
  .cap 
  .vribbon 
  .hribbon 
.present7
  .cap 
  .vribbon 
  .hribbon 
.present8
  .cap 
  .vribbon 
  .hribbon 
.present9
  .cap 
  .vribbon 
  .hribbon 
.present10
  .cap 
  .vribbon 
  .hribbon 
.present11
  .cap 
  .vribbon 
  .hribbon 
.present12
  .cap 
  .vribbon 
  .hribbon 
.present13
  .cap 
  .vribbon 
  .hribbon 
.present14
  .cap 
  .vribbon 
  .hribbon 
.present15
  .cap 
  .vribbon 
  .hribbon 
.present16
  .cap 
  .vribbon 
  .hribbon 
.present17
  .cap 
  .vribbon 
  .hribbon 
.present18
  .cap 
  .vribbon 
  .hribbon 
.present19
  .cap 
  .vribbon 
  .hribbon 
.present20
  .cap 
  .vribbon 
  .hribbon 
.present21
  .cap 
  .vribbon 
  .hribbon 
.present22
  .cap 
  .vribbon 
  .hribbon 
.present23
  .cap 
  .vribbon 
  .hribbon 
.present24
  .cap 
  .vribbon 
  .hribbon 
.present25
  .cap 
  .vribbon 
  .hribbon 
.present26
  .cap 
  .vribbon 
  .hribbon 
.present27
  .cap 
  .vribbon 
  .hribbon 
.present28
  .cap 
  .vribbon 
  .hribbon 
.present29
  .cap 
  .vribbon 
  .hribbon 
.present30
  .cap 
  .vribbon 
  .hribbon 
.present31
  .cap 
  .vribbon 
  .hribbon 
.present32
  .cap 
  .vribbon 
  .hribbon 
.present33
  .cap 
  .vribbon 
  .hribbon 
.present34
  .cap 
  .vribbon 
  .hribbon 
.present35
  .cap 
  .vribbon 
  .hribbon 
.present36
  .cap 
  .vribbon 
  .hribbon 
.present37
  .cap 
  .vribbon 
  .hribbon 
.present38
  .cap 
  .vribbon 
  .hribbon 
.present39
  .cap 
  .vribbon 
  .hribbon 
.present40
  .cap 
  .vribbon 
  .hribbon 
.present41
  .cap 
  .vribbon 
  .hribbon 
.present42
  .cap 
  .vribbon 
  .hribbon 
.present43
  .cap 
  .vribbon 
  .hribbon 
.present44
  .cap 
  .vribbon 
  .hribbon 
.present45
  .cap 
  .vribbon 
  .hribbon 
.present46
  .cap 
  .vribbon 
  .hribbon 
.present47
  .cap 
  .vribbon 
  .hribbon 
.present48
  .cap 
  .vribbon 
  .hribbon 
.present49
  .cap 
  .vribbon 
  .hribbon 
.present50
  .cap 
  .vribbon 
  .hribbon 