lable
  .remind Click To switch day/night
  input(type="checkbox")
  .scene
    .sun
    .moon
    .leftoptext
      .blueblock
      h5 A DAY<br>ON THE ISLAND
      H1 Aegean Sea<br>
        span.daytext day Sky
        span.nighttext Night Sky
      p  css練習
    .allstar
      .s1 
      .s2 
      .s3 
      .s4 
      .s5 
      .s6 
      .s7 
      .s8 
      .s9 
      .s10 
      .s11 
      .s12 
      .s13 
      .s14 
      .s15 
      .s16 
      .s17 
      .s18 
      .s19 
      .s20 
      .s21 
      .s22 
      .s23 
      .s24 
      .s25 
      .s26 
      .s27 
      .s28 
      .s29 
      .s30 
      .star1 
      .star2 
      .star3 
      .star4 
      .star5 
      .star6 
      .star7 
      .star8 
      .star9 
      .star10 
      .star11 
      .star12 
      .star13 
      .star14 
      .star15 
      .star16 
      .star17 
      .star18 
      .star19 
      .star20 
      .star21 
      .star22 
      .star23 
      .star24 
      .star25 
      .star26 
      .star27 
      .star28 
      .star29 
      .star30 

    .building
      .house1
        .window
          .circle 
          .circle 
          .circle 
      .house2
        .door
      .house3
        .wall
          .window 
        .wall
          .window 
        .wall
          .window 
        .roof
          .rooftop
            .cross 