.scence
  h1.title where is my cake!! 
    bri
    span.question did you see it
  .person
    .message uh...I didn't eat it 
    .hairs
      .hair1 
      .hair2 
      .hair3 
    .body
      .eyes
        .eye
          .eyeball 
        .eye
          .eyeball
      .mouth
        .food