.middle
  .container1
    .ball 
  .container2
    .ball 
  .container3
    .ball 
  .container4
    .ball 
  .container5
    .ball 
  .container6
    .ball 
  .container7
    .ball 
  .container8
    .ball 
  .container9
    .ball 
  .container10
    .ball 
  .container11
    .ball 
  .container12
    .ball 
  .container13
    .ball 
  .container14
    .ball 
  .container15
    .ball 
  .container16
    .ball 
  .container17
    .ball 
  .container18
    .ball 
  .container19
    .ball 
  .container20
    .ball 
  .container21
    .ball 
  .container22
    .ball 
  .container23
    .ball 
  .container24
    .ball 
  .container25
    .ball 
  .container26
    .ball 
  .container27
    .ball 
  .container28
    .ball 
  .container29
    .ball 
  .container30
    .ball 